/*
Main desktop Navigaton Menu:
*/

/* purgecss start ignore */
.navbar-main {
	@apply z-50;

	> ul {
		padding: 20px 0 0 0;
	}

	li {
		list-style: none;
		transition: background-color 0.2s ease;

		&:hover,
		&:active {
			// @apply bg-bl-dk-grey-800;
			// @apply text-bl-orange-500;
			@apply border-b-2 border-white;
			> .sub-menu {
				visibility: visible;
				opacity: 1;
				transition-delay: 0.2s;
			}
		}

		a {
			@apply p-2;
			box-sizing: border-box;
			height: 100%;
			display: inline-block;
			text-decoration: none;
			color: white;
		}
	}
}

li {
	&.current-menu-item {
		@apply border-b-2 border-bl-orange-500;
		a {
			@apply text-bl-orange-500;
		}
	}
}

/* purgecss end ignore */

.no-scroll {
	overflow: hidden;
}
